@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Timesnow';
  src: url('/fonts/Timesnow.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-timesnow {
  font-family: 'Timesnow', serif;
}

@font-face {
  font-family: 'Mermaid';
  src: url('/fonts/Mermaid1001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-mermaid {
  font-family: 'Mermaid', serif;
}
